<h1>Authors</h1>
<%= link_to "Create New Author", "/authors/new" %>

<% @authors.each do |author| %>
  <h3><%= author.name %></h3>
  <p><b>Created At: </b><%= author.created_at %></p>

  <%= link_to "Update #{author.name}", "/authors/#{author.id}/edit" %></br></br>
<% end %></br>
